#footer{
	width:100%;
	padding:10px 0 20px 0;
	background:#333;
	display:flex;
	flex-direction:column;
}
#about-us{
	width: 640px;
	margin:10px auto;
	overflow:hidden;	
}
#about-us li{
	float:left;
	padding-right:80px;
}
#about-us li>a{color:#fff;font-size:12px;}
#footer p{
	margin:3px auto;
	color:#959595;
	font-size:12px;
}
#imgs{
	width:360px;
	margin:0 auto; 
}
#imgs a>img{width:30px;}
#imgs a{
	display:inline-block;
	width:55px;
	height:55px;
	margin:10px 40px;
	padding:11px 0 0 13px;
	border-radius:50%;
	background:#494949;
}
@media screen and (max-width:1345px){
	#footer{width:1345px;}
}